<!--<p>(main navigation section, on all pages)</p>-->
<ul>
    <li><b>{{#link-to "homen.index"}}Lookit{{/link-to}}</b></li>
    <li>{{#link-to "homen.index"}}Home{{/link-to}}</li>
    <li>{{#link-to "participate"}}Participate in a study{{/link-to}}</li>
    <li>{{#link-to "faq"}}FAQ{{/link-to}}</li>
    <li>{{#link-to "scientists"}}The Scientists{{/link-to}}</li>
    <li>{{#link-to "resources"}}Resources{{/link-to}}</li>
    <li>{{#link-to "contact"}}Contact Us{{/link-to}}</li>

</ul>

