<div class="lookit-row lookit-page-title">
  <div class="container">
    <h2> {{header}} </h2>
  </div>
</div>

{{#if session.isAuthenticated}}
<ul class="nav nav-tabs">
    {{#link-to "studies.index" tagName="li"}}
        <a href="#">Suggested Studies</a>
    {{/link-to}}
    {{#link-to "studies.history" tagName="li"}}
        <a href="#">Past Studies</a>
    {{/link-to}}
</ul>
{{/if}}

