{{study-header header=header}}

<div class="tab-content">
    <div role="tabpanel" class="tab-pane active">
        <div class="lookit-row studies-row">
            <div class="container">
                <div id="past-studies">
                    <div class="row study-detail-caption">
                        Here you can view your studies and see comments left by researchers:
                    </div>

                    <div class="row">
                        {{#each model as |experimentSession|}}
                            {{study-feedback experiment=experimentSession.experiment sessions=experimentSession.sessions account=account}}
                        {{else}}
                            You have not yet completed any studies. Browse our list of {{#link-to 'studies'}}
                            available studies{{/link-to}}.
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
