<div id="suggested-studies">
    <p class="study-detail-caption">Here are some studies that we're currently running:</p>
    <!--<p>Filter by age: [This will be added when some experiments actually have eligibility criteria]</p>-->
    <div class="row">
      {{#each model as |experiment|}}
        {{study-summary experiment=experiment}}
      {{/each}}
    </div>
</div>

