<div class="row">
<div class="col-md=12">
  <button class="btn btn-default pull-right" onclick={{action 'toggleAddingNew'}}>Add a child</button>
  <br>
  <br>
  {{#bs-collapse collapsed=notAddingNew}}
    {{edit-profile account=model profile=profile onAdd=(action 'profileAdded') onCancelAdd=(action 'cancelAddProfile')}}
  {{/bs-collapse}}
  {{#each model.activeProfiles as |child|}}
    {{edit-profile profile=child account=model}}
  {{/each}}
</div>
</div>