<div>
  <div>
    <p>I would like to be contacted when:</p>
    <br>
    {{#bs-form}}
      {{#bs-form-group}}
        {{
        bs-form-element controlType="checkbox"
        value=model.emailPreferencesNextSession
        label="It's time for another session of a study we are currently participating in"
        }}
        {{
        bs-form-element controlType="checkbox"
        value=model.emailPreferencesNewStudies
        label="A new study is available for one of my children"
        }}
        {{
        bs-form-element controlType="checkbox"
        value=model.emailPreferencesResultsPublished
        label="The results of a study we participated in are published"
        }}
        <div class="form-inline">
          <div class="form-group">
            <label>
              A researcher may also email you personally if we have questions about your responses (for example, if you report two different birthdates for a child and we're not sure whether he's 3 or 5) or if you report a technical problem. Check here to opt out:&nbsp;&nbsp;&nbsp; {{input type="checkbox" checked=model.emailPreferencesOptOut}}
            </label>
          </div>
        </div>
        <br>
        {{#bs-button type="success" action="saveEmailPreferences"}}
        Save
        {{/bs-button}}
      {{/bs-form-group}}
    {{/bs-form}}
  </div>
</div>
