<!--<p>(Application layer of Lookit)</p>-->
{{main-nav}}
<div class="container">
    <ul>

        {{#if isLoggedIn}}
            <li>Hi Lookit Team</li>
            <li>{{#link-to 'login'}}Logout{{/link-to}}</li>
        {{else}}
            <li>{{#link-to 'login'}}Login{{/link-to}}</li>
            <li>Register</li>
        {{/if}}

    </ul>
</div>
{{outlet}}
