<h3>Homepage</h3>

{{#if isLoggedIn}}
    
    <h3>Here is the content that someone will see on the homepage when they are logged in!</h3>
    <p>This will include (I think...)</p>
    <ul>
        <li>My Account</li>
        <li>Previous Studies</li>
    </ul>

{{else}}
    
    <h3>Here is the content that someone will see on the homepage when they aren't logged in!</h3>
    <p>This will include...</p>
    <ul>
        <li>General Content</li>
        <li>News</li>
    </ul>

{{/if}}


