<div class="container">
    <h3>Login page</h3>
    
    {{#if modal}}
        {{#bs-modal title="An error occured when logging in." closedAction=(action 'toggleModal')}}
            {{#bs-modal-body}}Invalid username or password.{{/bs-modal-body}}
        {{/bs-modal}}
    {{/if}}

    {{#if session.isAuthenticated}}
        <p>You are logged in.</p>
        <button {{action 'invalidateSession'}}>Logout</button>
    {{else}}
        {{jam-auth login=(action 'authenticate')}}
    <br>
    <hr>
        <p>Not already a user? Create a Lookit account.</p>
        {{jam-create create=(action 'createAccount')}}
    {{/if}}
</div>
 