<div class="container">
    <h3>Login page</h3>

    {{#if session.isAuthenticated}}
        <p>You are logged in.</p>
        <button {{action 'invalidateSession'}}>Logout</button>
    {{else}}
        {{jam-auth login=(action 'authenticate')}}
    {{/if}}
</div>