<div class="lookit-row lookit-page-title">
    <div class="container">
        <h2> Login </h2>
    </div>
</div>

{{#if invalidAuth}}
    {{#bs-modal title="An error occured when logging in." closedAction=(action 'toggleInvalidAuth')}}
        {{#bs-modal-body}}Invalid username or password.{{/bs-modal-body}}
    {{/bs-modal}}
{{/if}}

{{#if userConflict}}
    {{#bs-modal title="An error occured when creating that user." closedAction=(action 'toggleUserConflict')}}
        {{#bs-modal-body}}That username has already been taken. Please choose another.{{/bs-modal-body}}
    {{/bs-modal}}
{{/if}}

{{#if creatingUser}}
    {{#bs-modal title="Creating your account." closedAction=(action 'toggleCreatingUser')}}
        {{#bs-modal-body}}Creating your account...{{/bs-modal-body}}
    {{/bs-modal}}
{{/if}}


<div class="lookit-row login-row">
    <div class="container">
        <div class="row">
            <div class="login-item col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
              {{jam-auth login=(action 'authenticate')}}
              <hr>
              <p>Not already a user? Create a Lookit account.</p>
              {{jam-create create=(action 'createAccount')}}
            </div>
        </div>
    </div>
</div>
