<div class="container">
    <br><br><br>
    <h2>My Account</h2>

<div class="row">
    <div class="col-md-3">
        {{#link-to "my.index" class="btn btn-default btn-md btn-block"}}
            <strong>Account information</strong><br />
            Change your name, email, or password.
        {{/link-to}}
        {{#link-to "my.demographics" class="btn btn-default btn-md btn-block"}}
            <strong>Demographic Survey</strong><br />
            Tell us more about yourself.
        {{/link-to}}
        {{#link-to "my.children" class="btn btn-default btn-md btn-block"}}
            <strong>Children Information</strong><br />
            Add or edit participant information.
        {{/link-to}}
        {{#link-to "my.email" class="btn btn-default btn-md btn-block"}}
            <strong>Email Preferences</strong><br />
            Edit when you can be contacted.
        {{/link-to}}
    </div>
    <div class="col-md-9">
        {{outlet}}
    </div>
</div>

</div>