<div class="container">
    <h2>Participate</h2>

    <object id="myFlashContent" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="300" height="120">
        <param name="movie" value="https://cldup.com/ZAXO1GogHh.swf" />
        <!--[if !IE]>-->
        <object type="application/x-shockwave-flash" data="https://cldup.com/ZAXO1GogHh.swf" width="300" height="120" style="visibility:visible;">
        <!--<![endif]-->
    <!--        Alternative content would go below-->
    <!--
            <a href="/go/getflashplayer">
               <img src=" "/>
            </a>
    -->
        <!--[if !IE]>-->
        </object>
        <!--<![endif]-->
    </object>
</div>