<div id="expContainer">
{{
  exp-player
  experiment=model.experiment
  session=session
  account=account
  profile=profile

  saveHandler=(action 'saveSession')
  frameIndex=0

  fullScreenElementId='expContainer'
  }}
</div>