<div class="container">
    <h2>Resources</h2>
    <h3>Find a developmental lab near you</h3>
    <p>Interested in participating in research in person? Find a list of labs that study child development in your
    state.</p>
    <p>Did we miss your lab, or one you know about? Our apologies, and please let us kow at
        <a href="mailto:lookit-ed@mit.edu">lookit-ed@mit.edu</a></p>
    {{find-local-lab}}
</div>