<div class="container">
    <h2>Meet the scientists</h2>
    <div class="row">
        <h3>Kim Scott</h3>
        <p><img src="assets/img/kimandremy.png"></p>
        <p>
            Kim is a graduate student in the Early Childhood Cognition Lab and Mama to five year old Remy. She developed
            Lookit partly to enable other single parents to participate in research!
        </p>
        <p>
            Research interests: Origins of conscious experience--or what it's like to be a baby
        </p>
        <p>
            Hobbies: Salsa dancing and bicycling
        </p>
    </div>
    <div class="row">
        <h3>Laura Schulz</h3>
        <p><img src="assets/img/laura.JPG"></p>
        <p>
            Laura is the PI of the Early Childhood Cognition Lab.
        </p>
        <p>
            Research interests: How children arrive at a common-sense understanding of the physical and social world
            through exploration and instruction.
        </p>
        <p>
            Hobbies: hiking, reading, and playing
        </p>
    </div>
    <div class="row">
        <h3>Junyi Chu</h3>
        <p><img src="assets/img/junyi.jpg"></p>
        <p>
            Junyi is a summer intern at the ECCL. She studied Child Development at Vanderbilt.
        </p>
        <p>
            Research interests: How children form, understand, and use representations when learning abstract concepts.
        </p>
        <p>
            Hobbies: Rock climbing, board and card games
        </p>
    </div>
    <div class="row">
        <h3>Joseph Alvarez</h3>
        <p>
            <img src="assets/img/joseph.jpg">
        </p>
        <p>
            Joseph, a senior at Skidmore College, is here all the way from Flagstaff, Arizona to do research with the
            ECCL.
        </p>
        <p>
            Research interests: Analogy, recursion, language, and consciousness
        </p>
        <p>

            Hobbies: Creating, discovering, and playing electric guitar!
        </p>
    </div>
</div>